In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [5]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\muham\ansel\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [7]:
## Deliverable 1: Replace the reading and math scores for Thomas High School to nan.
import numpy as np
#Reading Score changed to nan
student_data_df.loc[(student_data_df["grade"] == "9th") & 
                    (student_data_df["school_name"] == "Thomas High School") & 
                   (student_data_df["reading_score"] > 0), "reading_score"] = np.nan
# Math Score changed to nan
student_data_df.loc[(student_data_df["grade"] == "9th") & 
                    (student_data_df["school_name"] == "Thomas High School") & 
                   (student_data_df["math_score"] > 0), "math_score"] = np.nan

In [8]:
## Deliverable 2 : Repeat the school district analysis
### District Summary

In [10]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [11]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

In [12]:
# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [19]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [20]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
ths_9th_student_count = school_data_complete_df.loc[
    (school_data_complete_df["school_name"] == "Thomas High School") & 
    (school_data_complete_df["grade"] == "9th"), ["Student ID"]
].count()
ths_9th_student_count

Student ID    461
dtype: int64

In [21]:
# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [38]:
# Step 2. Subtract the number of students that are in ninth grade at Thomas High School.
# Thomas High School from the total student count to get the new total student count.
new_student_count = student_count - ths_9th_student_count

In [39]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [40]:
# Step 3. Calculate the passing percentages with the new total student count.
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / new_student_count
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / new_student_count

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

In [ ]:
# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [ ]:
# Step 4.Calculate the overall passing percentage with new total student count.

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [ ]:
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [ ]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

In [ ]:
# Display the data frame
district_summary_df

In [ ]:
##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

In [ ]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

In [ ]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]

In [ ]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

In [ ]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [ ]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

In [ ]:
# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})

In [ ]:
# per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [ ]:
# Display the data frame
per_school_summary_df

In [41]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
ths_10_to_12_graders = school_data_complete_df.loc[(
    (school_data_complete_df["school_name"] == "Thomas High School") & 
    (school_data_complete_df["grade"] != "9th")), "Student ID"].count()

In [42]:
# Step 6. Get all the students passing math from THS
ths_all_pass_math_scores = school_data_complete_df.loc[
    (school_data_complete_df["school_name"] == "Thomas High School") &
     (school_data_complete_df["math_score"] >= 70), "Student ID"].count()
ths_all_pass_math_scores

1094

In [49]:
# Step 7. Get all the students passing reading from THS
ths_all_pass_reading_scores = school_data_complete_df.loc[
    (school_data_complete_df["school_name"] == "Thomas High School") &
     (school_data_complete_df["reading_score"] >= 70), "Student ID"].count()
ths_all_pass_reading_scores

1139

In [50]:

# Step 8. Get all the students passing math and reading from THS
ths_all_pass_math_scores = school_data_complete_df.loc[
    (school_data_complete_df["school_name"] == "Thomas High School") &
     (school_data_complete_df["reading_score"] >= 70) &(school_data_complete_df["math_score"] >=70), "Student ID"].count()
ths_all_pass_math_scores

1064

In [51]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
ths_all_per_pass_math_scores = ths_all_pass_math_scores / ths_10_to_12_graders * 100
ths_all_per_pass_math_scores

90.63032367972743

In [56]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
ths_all_per_pass_reading_scores = ths_all_pass_reading_scores / ths_10_to_12_graders * 100
ths_all_per_pass_reading_scores

97.01873935264055

In [61]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
ths_overall_passing_percentage = ((ths_all_pass_reading_scores / ths_10_to_12_graders * 100) + (ths_all_pass_math_scores / ths_10_to_12_graders * 100)) / 2
ths_overall_passing_percentage

93.82453151618398

In [62]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School", "% Passing Math"] = ths_all_per_pass_math_scores

NameError: name 'per_school_summary_df' is not defined

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School", "% Passing Reading"] = ths_all_per_pass_reading_scores

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School", "% Overall Passing"] = ths_overall_ths_passing_percentage

In [ ]:
# per_school_summary_df
per_school_summary_df.tail()

In [ ]:
## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.

In [ ]:
# Sort and show top five schools.

In [ ]:
## Math and Reading Scores by Grade
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

# Combine each Series for average math scores by school into single data frame.

# Combine each Series for average reading scores by school into single data frame.

# Format each grade column.

# Remove the index.


# Display the data frame

## Remove the index.


# Display the data frame

In [ ]:
## Scores by School Spending
# Establish the spending bins and group names.


# Categorize spending based on the bins.

# Calculate averages for the desired columns. 

# Create the DataFrame

# Format the DataFrame

In [ ]:
## Scores by School Size
# Establish the bins.

# Categorize spending based on the bins.

# Calculate averages for the desired columns. 

# Assemble into DataFrame. 

# Format the DataFrame

In [10]:
## Scores by School Type
# Calculate averages for the desired columns. 

# Assemble into DataFrame. 

# # Format the DataFrame

SyntaxError: invalid syntax (<ipython-input-10-4edc256e1125>, line 29)